<!--
    Inicio Menu Sidenav
-->
<nav class="teal darken-2">
    <div class="nav-wrapper">
        <ul class="left">
            <li><a data-activates="slide-out-report" class="brand-logo"><i class="material-icons">menu</i></a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href="#/" ng-click="reload()"><i class="material-icons">refresh</i></a></li>
            <li><a class="dropdown-button" data-activates="dropdown1"><i class="material-icons right">more_vert</i></a></li>
        </ul>
    </div>
</nav>
<ul id="slide-out-report" class="side-nav">
    <li>
        <div class="userView">
            <img class="background" src="imgs/menu_drawer.jpg">
            <a href="#!user"><img class="circle" ng-src="{{user.urlAvatar}}"></a>
            <a href="#!name"><span class="white-text name">{{user.name}}</span></a>
            <a href="#!email"><span class="white-text email">{{user.email}}</span></a>
        </div>
    </li>
    <li><a href="#/"><i class="material-icons">home</i>Início</a></li>
    <li><a href="#!"><i class="material-icons">attach_money</i>Fatura parcial</a></li>
    <li><a href="#/report"><i class="material-icons">date_range</i>Comparador de períodos</a></li>
    <li><a href="#!"><i class="material-icons">remove_red_eye</i>Fique de olho!</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Opções</a></li>
    <li><a class="waves-effect" href="#!"><i class="material-icons">power_settings_new</i>Sair</a></li>
</ul>

<ul id="dropdown1" class="dropdown-content">
    <li><a href="#/">Ajuda</a></li>
    <li><a href="#/">Contato</a></li>
    <li class="divider"></li>
    <li><a ng-click="logout()">Sair</a></li>
</ul>

<!--
    Término Menu Sidenav
-->
<div class="col s12 l12">

    <div class="row">

        <div class="col l6">
            <div class="card">
                <div style="min-width: 310px; height: 440px; margin: 0 auto">
                    <div class="input-field col s4">
                        <i class="material-icons prefix">date_range</i>
                        <input type="date" class="datepicker">
                        <label for="icon_prefix">Primeiro Período</label>
                    </div>
                    <div class="input-field col s4">
                        <i class="material-icons prefix">date_range</i>
                        <input type="date" class="datepicker">
                        <label for="icon_telephone">Primeiro Período</label>
                    </div>
                    <div class="input-field col s4">
                        <div><a class="waves-effect waves-light btn">Gerar</a></div>
                    </div>
                    <div id="container-report-1" style="height: 350px; min-width: 310px"></div>
                </div>
                <div class="card-content teal">
                    <span class="card-title activator white-text">Primeiro Período</span>
                    <p class="white-text">Selecione o primeiro período desejado</p>
                </div>
            </div>
        </div>
        <div class="col l6">
            <div class="card">
                <div style="min-width: 310px; height: 440px; margin: 0 auto">
                    <div class="input-field col s4">
                        <i class="material-icons prefix">date_range</i>
                        <input type="date" class="datepicker">
                        <label for="icon_prefix">Primeiro Período</label>
                    </div>
                    <div class="input-field col s4">
                        <i class="material-icons prefix">date_range</i>
                        <input type="date" class="datepicker">
                        <label for="icon_telephone">Primeiro Período</label>
                    </div>
                    <div class="input-field col s4">
                        <div><a class="waves-effect waves-light btn  deep-purple darken-2">Gerar</a></div>
                    </div>
                    <div id="container-report-2" style="height: 350px; min-width: 310px"></div>
                </div>
                <div class="card-content deep-purple darken-2">
                    <span class="card-title activator white-text">Segundo Período</span>
                    <p class="white-text">Selecione o segundo período desejado</p>
                </div>
            </div>
        </div>
    </div>
</div>